<div id="entries">
  <ul style="">
  <% entries.keys.sort.reverse.each do |key| %>
    <li style="display: inline; margin: 5px">
    <a href="blog/<%= CGI::escape(@posts[key]) %>"><%= @posts[key].split(".")[0] %></a>
    </li>
  <% end %>
</div>
