<h1> Welcome </h1>

Prole is still in disbelief that such a thing is possible. One's opinion, broadcast to the ENTIRE WORLD...for free! Oh Venerable Guttenberg - would that you were alive today to see what your invention has wrought. From printing press to Wordpress. From movable type to MovableType(tm). Amazing.

