<html>
  <head>
    <title>Prole.in</title>
    <link href="/prole.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="left-container">
      &nbsp;
    </div>
    <div id="main-container">
      <div id="header"/>
        <h1>prole.in</h1>
      </div>
      <div id="nav">
	Blog | Projects
      </div>
      <%= yield %>
    </div>
    <div id="right-container">
      &nbsp;
    </div>
  </body>
</html>
