body {
  font-family: Verdana;
  font-size: 18px;
  margin: 4px;
  padding: 0px;
}

#left-container {
  float: left;
  width: 15%;
}

#main-container {
  float: left;
  width: 60%;
  min-height: 600px;
  margin-right: 5px;
}

#right-container {
  float: left;
  width: 22%;
  background: url('kun.jpg');
  min-height: 1000px;
}

#header {
}

#header h1 {
  text-transform: uppercase;
  text-align: right;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: -12px;
  margin: 0px;
  margin-right: 35px;
}

#nav {
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 15px;
}